header {
    background-image: url(/public/img/images/banner-overlay-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    background-color: black;
    overflow-x: hidden;
    
    
    font-family: myFont;

}



.logoheader {
   width: 40;
   height: 40%;
   margin: 30px 10px;
   margin-left: 100px;
}

.headertop {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    
}

.headerbot {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.headertopleft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.headertopright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-right: 300px;
    
}

.nav {
    color: antiquewhite;
}

.contactUs {
    width: 100px;
    height: 40px;
    background-color: #0bd3ee;
    border-radius: 20px;
    border: none;
    
    
    
}

.headerbotleft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin-left: 300px;
    color: antiquewhite;
    z-index: 1;

}

.headerbotleft h1 {
    
    margin-top: -20px;
    font-size: 50px;
}

.headerbotleft p {
    
    color: lightblue;
    margin-bottom: 40px;
}


.start_button {
    display: flex;
    gap: 15px
}

.start_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    background-color: #0bd3ee;
    height:40px ;
    width: 110px ;
    border-radius: 20px;
    border: none;
    
}

.contact_start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    background-color: #2053a1;
    height:40px ;
    width: 100px ;
    border-radius: 20px;
    border: none;
    
}

.headerbotright {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.image-pc {
    width: 80%;
    height: 80%;
    margin-right: 100px;
    margin-bottom: 200px;
}


/*-------responsive header- start------------------------------*/


@media (max-width:1024px) {
    .headertopright {margin-right: 100px;

    }

}


@media (max-width:768px) {
    .headertopright {margin-right: 50px;


    }
    .headertopright {font-size: smaller;

    }

    .headerbotleft h1 {font-size: 25px;

    }

    .headerbotleft {margin-left: 240px;

    }
}
/* ---------responsive tablette fin, debut responsive mobile L-----*/

@media (max-width:426px) {
    .headertopright {display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-right: 150px;
    }
    
    .image-pc {margin-right: 400px;
                z-index: 0;
                width: 100%;
                height: 100%;
                opacity: calc(0.5);
    } 

    
    .logoheader {width: 20;
                height: 20%;
                margin-left: -50px;
                margin-top: -50px;
    }



}




/*----------------------fin responsive heder---- debut section1----------*/

.sec1 {
    background-color: #0a1650;
    background-position: -300px;
    font-family: myFont;
    
}

.sec1top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.workingwith {
    font-size: 30px;
}

.partners {
    color: #0bd3ee;
}
.sec1mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.img1 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}

.img2{
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}

.img3 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}

.img4 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}

.img5 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}

.img6 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
}



.sec1bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/images/dots-img.png); 
    background-repeat: no-repeat;
    background-position: 1250px;
    z-index: 3;
    margin-top: 200px;
    
    
    
}

.sec1botleft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 100px;
}

.girl {
    height: 70%;
    width: 70%;
}
.sec1botright {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 100px;
}

.sec1botright h4 {
    color:#0bd3ee;
    ;
}

.sec1botright p {
    font-size: 12px;
}

.sec1botright h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec1botright li {
    font-size: 12px ;
}

.bluetick {
    display: flex;
}

.check {
    margin: 0px 0px;
}

.sec1botright p  {
    line-height: 2;
}

















body{
    margin: 0;
    background-color: black;
}
footer h4{
    font-family: MyFont;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/Eric_Mohamed_Projet_Molenstars/MolenStars/MolenStars/Assets/images/banner-overlay-img.png);
    background-size: 150%;
    background-position: 90%;
    flex-wrap: wrap;
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 500px;
    flex-wrap: wrap;
    gap: 5%;
}

.footer1 div p{
    color: rgba(255, 255, 255, 0.518);
} 

.check{
    color: rgba(255, 255, 255, 0.518);
}

.footer-div1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 280px;
    height: 185px;
    line-height: 1.5;
    padding-top: 5%;

}



.footer-div2{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    line-height: 0;

   height: 185px;
    
}

.footer-div3{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 185px;
    width: 200px;
    line-height:1;
    padding-bottom: 1.5%;
}
.footer-div3 span{
    color: rgba(255, 255, 255, 0.518);
    line-height: 1;
}

.footer1 h4{
    color: white;
}

.footer-div4{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 185px;
    padding-bottom:10%;
    
}

.mail input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.mail{
    display: flex;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.276);
    height: 40px;
    border-radius: 4px;
}

input::placeholder {
    color: rgba(240, 248, 255, 0.651);
    opacity: 1;
}

button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

form{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    
}

.footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.518);
    border-top: solid rgba(255, 255, 255, 0.518);
}

