header {
    background-image: url(/public/img/images/banner-overlay-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    background-color: black;
    overflow-x: hidden;
    font-family: myFont;

}



.logoheader {
   width: 50;
   height: 60%;
   margin: 30px 10px;
   margin-left: 100px;
}

.headertop {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    
}

.headerbot {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.headertopleft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.headertopright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-right: 300px;
    
}

.nav {
    color: antiquewhite;
    text-decoration: none;
}

.contactUs {
    width: 100px;
    height: 40px;
    background-color: #0bd3ee;
    color: white;
    border-radius: 20px;
    border: none;
    
    
    
}

.headerbotleft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin-left: 300px;
    color: antiquewhite;
    z-index: 1;

}

.headerbotleft h1 {
    
    margin-top: -20px;
    font-size: 50px;
}

.headerbotleft p {
    
    color: lightblue;
    margin-bottom: 40px;
}


.start_button {
    display: flex;
    gap: 15px
}

.start_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    background-color: #0bd3ee;
    box-sizing: border-box;
    color: white;
    height:40px ;
    width: 110px ;
    border-radius: 20px;
    border: none;
    transition-duration: 0.1s;
    
}

.start_contact:hover {
    background-color: transparent;
    border: solid 2px skyblue;
}

.contact_start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    box-sizing: border-box;
    background-color: #2053a1;
    color: white;
    height:40px ;
    width: 100px ;
    border-radius: 20px;
    border: none;
    transition-duration: 0.1s;
    
}

.contact_start:hover {
    background-color: transparent;
    border: solid 2px skyblue;
}

.headerbotright {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}



.image-pc {
    width: 80%;
    height: 80%;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 0px;

}


/*-------responsive header- start------------------------------*/


@media (max-width:1024px) {
    .headertopright {margin-right: 100px;

    }

}


@media (max-width:768px) {
    .headertopright {margin-right: 50px;


    }
    .headertopright {font-size: smaller;

    }

    .headerbotleft h1 {font-size: 25px;

    }

    .headerbotleft {margin-left: 240px;

    }
}
/* ---------responsive tablette fin, debut responsive mobile L-----*/

@media (max-width:426px) {
    .headertopright {display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-right: 150px;
    }
    
    .image-pc {margin-right: 400px;
                z-index: 0;
                width: 100%;
                height: 100%;
                opacity: calc(0.5);
    } 

    
    .logoheader {width: 20;
                height: 20%;
                margin-left: -50px;
                margin-top: -50px;
    }



}




/*----------------------fin responsive header---- debut section1----------*/

.sec1 {
    background-color: #0a1650;
    background-position: -300px;
    font-family: myFont;
    
}

.sec1top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.workingwith {
    font-size: 30px;
}

.partners {
    color: #0bd3ee;
    margin-top: 50px;
}
.sec1mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.img1 {
    width: 80px;
    height: 80px;
    background-color: #16246f;
    border-radius: 10px;
    padding: 15px 30px;
    transition-duration: 0.1s;
    transition: transform 0.3s ease-out;
}

.img1:hover {

 background-color: #0bd3ee;
 transform: translateY(-10px);


}





.sec1bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/images/dots-img.png); 
    background-repeat: no-repeat;
    background-position: 1250px;
    z-index: 3;
    margin-top: 200px;
    
    
    
}

.sec1botleft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 100px;
    
}

.girl {
    height: 70%;
    width: 70%;
}
.sec1botright {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 100px;
}

.sec1botright h4 {
    color:#0bd3ee;
    
}

.sec1botright p {
    font-size: 12px;
}

.sec1botright h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec1botright li {
    font-size: 12px ;
}

.bluetick {
    display: flex;
}

.check {
    margin: 0px 0px;
}

.sec1botright p  {
    line-height: 2;
}


/*---------------------fin du css pour section 1------------debut du responsive---*/


@media (max-width:768px) {
    .sec1bot {
        flex-wrap: wrap;
        
    }
    .sec1botleft {width: auto;
        justify-items: center;
        align-items: center;
        margin-right: 70px;
    }
}






/*--------fin du responsive de sec1-- et debut css sec 2------------------------*/

.sec2 {
    font-family: myFont;
    background-image: url(/public/img/images/banner-overlay-img.png);
    background-repeat: no-repeat;
    background-position: -300px -200px;
    
    
    
    }

.sec2top {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.sec2top h1 {
    font-size: 40px;
    padding: 2px 20px;
}

.wedo {
    color: #0bd3ee;
    margin-bottom: 0px;
    margin-top: 70px;
}

.sec2mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.sec2mid h4 {
    color: white;
}

.sec2mid p {
    color: lightgray; 
    opacity: calc(0.5);
   


    
}

.sec2mid1 {
    background-color: #17246f;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 20px 20px;
    padding-top: 40px;
}

.sec2mid1:hover .itemimg {
    transform: translateY(-10px);
}

.itemimg {
    width: 40%;
    height: 30%;
}

.sec2mid2 {
    background-color: #17246f;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 20px 20px;
    padding-top: 40px;
}

.sec2mid2:hover .itemimg {
    transform: translateY(-10px);
}

.itemimg {
    width: 40%;
    height: 30%;
    transition: transform 0.3s ease-out;
}

.sec2mid3:hover .itemimg {
    transform: translateY(-10px);
}

.sec2mid3 {
    background-color: #17246f;
    width: 200px;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 20px 20px;
    padding-top: 40px;
    transition-duration: 0.1s;
}

.sec2mid4:hover {
    border: solid 2px skyblue;
}

.sec2mid4:hover .itemimg {
    transform: translateY(-10px);
}

.sec2mid3:hover {
    border: solid 2px skyblue;
}

.sec2mid2:hover {
    border: solid 2px skyblue;
}

.sec2mid1:hover {
    border: solid 2px skyblue;
}



.sec2mid4 {
    background-color: #17246f;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 20px 20px;
    padding-top: 40px;
}



.homeoffice {
    margin-top: -20px;

}

.sec2bot {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.Getstartedbutton {
    width: 150px;
    height: 40px;
    background-color: #0bd3ee;
    border-radius: 20px;
    border: none;
    color: white;
    margin-bottom: 80px;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.Getstartedbutton:hover {
    background-color: transparent;
    border: 2px solid skyblue;
}


@media (max-width: 400px) {
    .sec2top h1 {
        font-size: 20px;
    }    

}

@media (max-width: 425px) {
    .sec2top h1 {
        font-size: 25px;
    }
}




/*----------- Fin de la sec 2 ------- pas besoin de respoonsive ici --------debut sec3----*/

/* comment test */
.sec3 {
    display: flex;
    flex-wrap: wrap;
    background-color: #0a1650;
    font-family: myFont;
}
.sec3left {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#0a1650;
    background-image: url(/public/img/images//dots-img2.png);
    background-size: 150px 200px;
    background-repeat: no-repeat;
    background-position: 0 30%;
    margin-top: 100px;
    
    
    
}

.sec3lefttop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -40px;
    text-align: start;
    
    
}

.sec3lefttop h1 {
    text-align: start;
}

.sec3lefttop p {
    text-align:inherit;
}

.sec3right {
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-image: url(/public/img/images/service-right-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec3lefttop h4 {
    color:#0bd3ee;
    margin-bottom: 0px;
   

}


.sec3lefttop h1 {
    color: white;
    font-size: 35px;
    
}

.sec3lefttop p {
    color: lightgray;
    font-size:12px
    
}

.TopIT {
    margin-top: -20px;
    margin-bottom: 5px;
}

.sec3leftbot {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 70px;
}

.sec3leftbot1 {
    
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.sec3leftbot1 p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.percent85 {
    font-size: 25px;
    width: 100px;
    height: 100px;
    border: solid 3px skyblue;
    border-radius: 50%;
}

.sec3leftbot2 {
    
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.sec3leftbot2 p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.percent78 {
    font-size: 25px;
    
    width: 100px;
    height: 100px;
    border: solid 3px skyblue;
    border-radius: 50%;
}

.sec3leftbot3 {
    
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.sec3leftbot3 p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.percent64 {
    font-size: 25px;
    width: 100px;
    height: 100px;
    border: solid 3px skyblue;
    border-radius: 50%;
}

.Bluebanner {
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:start;
    background-color:#0bd3ee;
    margin-top: 420px;
    position: absolute;
    bottom: 0;
    right: 0;
    
    border-top-left-radius: 15px;
    
   
}

.Bluebanner p {
    padding: 2px 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 13px;
}

.Bluebanner h3 {
    padding: 2px 30px;
    margin-bottom: 0px;
    font-size: 16px;
}

.iconbanner {
    z-index: 4;
    color: whitesmoke;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 30px;
    width: 70px;
    height: 55px;
    padding-left: 20px;
}













































































































































































































































































































































































































































































































































































































































/*-------------------------<DEBUT DE LA SECTION5>------------------------------*/

.sec5{
    background-color: #122061ff ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 14vw;
    flex-wrap: wrap;
}

.sec5-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}

.sec5-titre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0;
    flex-wrap: wrap;
}

.sec5-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.sec5-block1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
   
}

.sec5-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3%;
    flex-wrap: wrap;
}

.card{
    width: 80%;
}

.sec5-img img{
    width: 100%;

}

.sec5-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}

textarea::placeholder{
    color: rgb(240, 248, 255, 0.41);

}

.sec5 input{
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(255, 255, 255, 0.148);
    height: 3vw;
    width: 19.2vw;
    border-radius: 0.3vw;
    flex-wrap: wrap;
}

.sec5 h2{
    color: rgba(255, 255, 255, 0.514);
}

.sec5 h6{
    color: rgba(0, 149, 255, 0.928);
}

.sec5 textarea{
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(255, 255, 255, 0.148);
    height: 6vw;
    width: 60vw;
    border-radius: 0.3vw;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3%;
    margin-bottom: 10%;
}

.btn button{
    width: 15%;
    height: 3vw;
    border-radius: 5vw;
    background-color: aqua;
    color: white;
}



.card {
    display: inline-block;
    position: relative;
}
.card .textimg {
    width: 10vw;
    font-size: 75%;
    z-index: 1;
    position: absolute;
    text-align: left;
    font-family: Georgia;
    margin-left: 5%;
    left: 0;
    right: 1;
    top: 60%;
    color: white;
    width: 90%;
}

.card .textimg p{
    font-size: 80%;
    color: rgba(255, 255, 255, 0.574);
}







/*-------------------------<FIN DE LA SECTION5>------------------------------*/








/*-------------------------<DEBUT DU FOOTER>------------------------------*/

body{
    margin: 0;
    background-color: black;
}
footer h4{
    font-family: MyFont;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/Eric_Mohamed_Projet_Molenstars/MolenStars/MolenStars/Assets/images/banner-overlay-img.png);
    background-size: 150%;
    background-position: 90%;
    flex-wrap: wrap;
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 500px;
    flex-wrap: wrap;
    gap: 5%;
}

.footer1 div p{
    color: rgba(255, 255, 255, 0.518);
} 

.check{
    color: rgba(255, 255, 255, 0.518);
}

footer{
    display: flex;
    justify-content: center;
    
}
.footer-div1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 19vw;
    height: 100%;
    line-height: 1.5;
    padding-top: 5%;

}



.footer-div2{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    line-height: 0;

   height: 185px;
    
}

.footer-div3{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 185px;
    width: 200px;
    line-height:1;
    padding-bottom: 1.5%;
}
.footer-div3 span{
    color: rgba(255, 255, 255, 0.518);
    line-height: 1;
}

.footer1 h4{
    color: white;
}

.footer-div4{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 185px;
    padding-bottom:10%;
    
}

.mail input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.mail{
    display: flex;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.276);
    height: 40px;
    border-radius: 4px;
}

input::placeholder {
    color: rgba(240, 248, 255, 0.41);
    
}

button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

form{
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;

    
}

.footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.518);
    border-top: solid rgba(255, 255, 255, 0.518);
    flex-wrap: wrap;
}


/*-------------------------<FIN DU FOOTER>------------------------------*/
